<table class="headers">
  <thead>
    {{#headers}}
    <th class="{{class}}">{{text}}</th>
    {{/headers}}
    <th></th>
  </thead>
</table>

<div class="scrollable-data">
  <table class="data">
    <tbody></tbody>
  </table>
</div>
