<ul>
  <li class="selected"><a href="#general">General</a></li>
  <li><a href="#events">Events</a></li>
  <li><a href="#syncs">Syncs</a></li>
  <li><a href="#views">View-DOM Binding</a></li>
  <li><a href="#instances">Instantiated Objects</a></li>
</ul>
